extends ../layout

block content
    form.form-login(method="POST")
        .form-group
            input.form-control#email(type="email", aria-describedby="emailHelp", placeholder="Enter email", name="email")
        .form-group
            input.form-control#password(type="password", placeholder="Password", name="password")
        button.btn.btn-primary.btn-block(type="submit")
            i.fas.fa-sign-in-alt
            | Submit